.LandingNavBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 1px solid gray;
   
   
}

.navBarHolder{
    z-index: 1;
}

.NavmiddleSection{
    display: flex;
    flex-direction: row;
}

body{
    margin: 0;
}

.NavStart{
    width: 25%;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}


.NavEnd{
    width: 25%;
    align-items: center;
    /* background-color: blue; */
    justify-content: center;
    display: flex;
}

.NavmiddleSection{
    width: 40%;
    justify-content: space-around;
    /* background-color: pink; */
    padding-left: 5%;
    padding-right: 5%;

}

.NavBTN{
   background-color: #9400D3;
   padding: 5px;
   border-radius: 3px;
}


.progressMainWrapper{
    height: 15px;
    z-index: 1;
    width: 100%;
}

.progressMainStyle{
    height: 5px;
    background-color: #9400D3;
   
}

.navBarHolder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.NavLinks{
    color: white;
    text-decoration: none;
  
    
}
.active p {
    color: white;
    border-bottom: 3px solid #9400D3;
    animation: border-animation 0.5s linear forwards;
  }
  
  .hamburger{
    display: none;
 
  }

  .switch{
    margin-right: 20px;
  }

  @keyframes border-animation {
    0% {
     width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .DropdownContent {
    position: absolute;
    margin-top: 140px;
    right: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
  
  }

  .DropdownLinks{
    /* padding: 5px; */
    text-decoration: none;
    color: rgb(93, 93, 93);
    font-weight: 500;
  }
  
  
  @media screen and (max-width:425px) {
    .NavmiddleSection{
        display: none;
    }
    .NavBTN{
        display: none;
    }

    .hamburger{
        display: contents;
        background-color: #9400D3;
        width: 50px;
        height: 50px;
    }

    .LandingNavBar{
        
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        /* padding-right: 5%; */
    
        
    }
    .switch{
        display:none
    }
    
  }
  