.project_page{
   height: 100vh;
}

.projectHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100% ;

}

.cardContainer {
  width: 320px;
  height: 290px;
  margin-bottom: 50px;
}

.projectCard {
  width: 93%;
  padding: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: black;
}




.Myprojects {
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Bruno Ace';
  padding-top: 85px;
}


.projectImage {
  border: 1px solid rgb(207, 207, 207);
  width: 99%;
  height: 180px;
  border-radius: 5px;

}

.back-style {
  font-size: 11px;
  height: 160px;

}



#dark .projectCard {
  background-color: blueviolet;
  border-radius: 5px;
}

.projectCard {
  background-color: blueviolet;
  border-radius: 5px;
}

#dark .projecttitle {
  color: black;
}

#light .projecttitle {
  color: black;
}

#dark .projectTitle {
  color: white;
}

#dark .back {
  background-color: white;

}

.card_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.github_link p {
  position: relative;
  top: 15px;
  color: black;
}
 .more_btn {
  background-color: black;
  color: white;
  width: 130px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.projecttitle{
  
}




@media screen and (max-width:425px) {
  .projectHolder {
    margin-top: 70px;
  }

  .projectHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important;

  }

  .Myprojects {

    height: 100%;
  }

}